<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--Service configuration-->
        <!--<add key="Intervalo" value="14400000" />-->
        <add key="Intervalo" value="86400000"/>
        
        <!--Tags para ativar ou desativar serviços de FTP -->
        <add key="ServicoDownloadAtivo" value="true"/>
        <add key="ServicoUploadAtivo" value="false"/>

        <!-- LOCAL -->
        
        <!--Dados do servidor externo para FTP -->
        <add key="FTP.Servidor" value="192.168.102.21"/>
        <add key="FTP.Porta" value="22"/>
        <add key="FTP.Usuario" value="192.168.102.21"/>
        <add key="FTP.Senha" value="123456"/>
        <add key="FTP.SubdiretorioDownload" value="ArquivoFtpDownload//"/>
        <add key="FTP.SubdiretorioUpload" value="ArquivoFtpUpload//"/>
        
        <!--Dados para copiar o arquivo de servidor local para servidor FTP Externo -->
        <add key="FTP.DiretorioUpload" value="C:\\Versao\\FTP\\ArquivoFtpUpload\\"/>
        <add key="FTP.DiretorioUploadBackup" value="C:\\Versao\\FTP\\ArquivoFtpBackupUpload\\"/>
        <add key="FTP.DiretorioUploadErros" value="C:\\Versao\\FTP\\ArquivoFtpErros\\"/>

        <!--Dados para copiar o arquivo de servidor FTP externo para servidor interno -->
        <add key="FTP.DiretorioDownload" value="C:\\Versao\\FTP\\ArquivoFtpDownload\\"/>
        <add key="FTP.DiretorioDownloadLidos" value="C:\\Versao\\FTP\\ArquivoFtpDownloadLidos\\"/>
       
        <!--E-mail configuration-->
        <add key="SMTP" value="mail.seudiretorio.com.br" />
        <add key="PORT" value="999" />
        <add key="TIMEOUT" value="30000" />
        <add key="USERNAME" value="noreply@seudiretorio.com.br" />
        <add key="DISPLAYNAME" value="Não responda" />
        <add key="PASSWORD" value="password" />
        <add key="DESTINATION" value="destination@seudiretorio.com.br" />
        <!--End E-mail configuration-->

        <add key="aspnet:RoslynCompilerLocation" value="roslyn"/>
    </appSettings>
</configuration>